p 
  | You're here.
p
  | I'm here. 
p
  | We're both not sure why 😅 maybe you'll get to know me a bit better by checking out my Medium posts, 
  | or visiting 
  a(href='https://www.sportcast.com.au/' target='_blank')
    | Sportcast
  |  where I work as a Senior Quantitative Analyst and Trading Solutions Engineer in 🇬🇧!{' '}
  b London, United Kingdom 
  |.